<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Edit your Chat <%= chats._id %></h3>
    <p>This chat was send by <%=chats.from %> to <%= chats.to %></p>
    <form method="POST" action="/chats/<%= chats._id %>?_method=PUT"
        onsubmit="return confirm('Chat has been edited successfully')">
          <textarea name="msg" rows="5" cols="50"><%= chats.msg %></textarea>
          <button>Submit</button>
    </form>
</body>
</html>